* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

.block {
  display: block;
}

.inputBlock {
  margin-bottom: 15px;
}

.textInput {
  width: 100%;
  padding: 5px 10px;
}

.textArea {
  width: 100%;
}
